# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/

# Vite output
dist/
dist-ssr/
*.local

# Editor directories and files
.vscode/
.vscode/*
.idea/
.DS_Store

# Environment files
.env
.env.*
!.env.example

# Build output
build/
out/
public/build/

# OS files
Thumbs.db
desktop.ini

# VS / Windows project files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary files
*.tmp
*.temp
