@tailwind base;
@tailwind components;
@tailwind utilities;

/* REMOVE VITE DEFAULT STYLING */
#root {
  max-width: 100%;
  margin: 0 auto;
  /* padding: 2rem; */
}


body {
  margin: 0;
  padding: 0;
}
